.file-detail-view {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  

.file-actions {
    display: flex;
    gap: 15px;
    margin-top: 20px;
  }
  
  .file-action-button {
    width: 130px; 
    height: 40px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    cursor: pointer;
    color: white;
    line-height: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  
  /* Specific color styles only */
  .download-button {
    background-color: #004aad;
  }
  
  .download-button:hover {
    background-color: #00338d;
  }
  
  .delete-button {
    background-color: #dc3545;
  }
  
  .delete-button:hover {
    background-color: #bb2d3b;
  }
  